<%- include("partials/header") %>

<div class="main-container">
    <nav class="left-nav">
        <button class="new-file">
            New File
        </button>
        <button class="new-folder">
            New Folder
        </button>
    </nav>
    <main>
        <h2>Welcome, <%= user.username %></h2>
        <div class="folders-container">
            
        </div>
    </main>
</div>

<%- include("partials/footer") %>
