<%- include("partials/header") %>

<main>
    <h1>Welcome to Gloogle Drive</h1>
    <h2>Store and share files</h2>

    <a href="/login">Log-In</a>
    <a href="/register">Register</a>
</main>

<%- include("partials/footer") %>