<%- include("partials/header") %>

<main>
  <form action="/newfolder" method="POST">
    <h2>Create new folder</h2>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
    <button type="submit">Login</button>
    <% if (errors.length > 0) { %>
        <% errors.forEach((error) => { %>
            <p style="color: red"><%= error.msg %></p>
        <% }) %>
    <% } %>
  </form>
</main>

<%- include("partials/footer") %>
